שאלה 4
נתונים המשתנים שלהלן:
עבור כל אחד מהסעיפים שלהלן, בנו מחרוזת בשם s מסוג F-string שהדפסתה תציג את הנדרש. היעזרו במשתנים שהוגדרו לעיל.

In [2]:
x = 5
y = 3
month = 'July'
temp = 37
origin = 'New York'
destination = 'Israel'
cost = 585
num = '1'
# 5 + 3 = 8
s = f"{x} + {y} = {x + y}"
print(s)

5 + 3 = 8

In [3]:
x = 5
y = 3
month = 'July'
temp = 37
origin = 'New York'
destination = 'Israel'
cost = 585
num = '1'
# The average temperature in July is 37 degrees.
s = f"The average temperature in {month} is {temp} degrees."
print(s)

The average temperature in July is 37 degrees.

In [4]:
x = 5
y = 3
month = 'July'
temp = 37
origin = 'New York'
destination = 'Israel'
cost = 585
num = '1'
# A flight from New York to Israel will cost 585$
s = f"A flight from {origin} to {destination} will cost {cost}$"
print(s)

A flight from New York to Israel will cost 585$

In [5]:
x = 5
y = 3
month = 'July'
temp = 37
origin = 'New York'
destination = 'Israel'
cost = 585
num = '1'
# 1 plus 1 equals 2
s = f"{num} plus {num} equals {int(num) + int(num)}"
print(s)

1 plus 1 equals 2